{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <!-- Members -->
            <div class="main-item">
                <div class="title">
                    <h4>
                        سهم اعضا
                    </h4>
                </div>
                <form action="/confirm_expense/{{ group_id }}/" class="form-row align-items-center"
                      method="post" style="background: white; padding: 5px">
                    {% for member in members %}
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="first_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ member.first_name }}">
                            <span class="input-group-addon">نام</span>
                        </div>
                    </div>
                        <div class="col-md-6 my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input class="form-control" disabled name="last_name"
                                       style="direction: rtl; text-align: right;" type="text"
                                       value="{{ member.last_name }}">
                                <span class="input-group-addon">نام خانوادگی</span>
                            </div>
                        </div>
                        <div class="col-auto my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input class="form-control" name="share_{{ member.username }}" type="text" value="1"
                                       style="direction: rtl; text-align: right;">
                                <span class="input-group-addon">سهم</span>
                            </div>
                        </div>

                    {% endfor %}

                    <div class="col-auto my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input name="cost" type="text" class="form-control" value="0"
                                   style="direction: rtl; text-align: right;">
                            <span class="input-group-addon">مقدار</span>
                        </div>
                    </div>

                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">تایید</button>
                    </div>
                </form>

            </div>


            <!-- Back -->
            <div class="main-item">
                <form action="/visit_group/{{ group_id }}/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">بازگشت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
