{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <!-- Members -->
            <div class="main-item">
                <div class="title">
                    <h4>
                        اعضا
                    </h4>
                </div>
                {% for member in members %}
                <form action="/visit_friend_profile/{{ member.phone }}/" class="form-row align-items-center"
                      method="post" style="background: white; padding: 5px">
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="first_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ member.first_name }}">
                            <span class="input-group-addon">نام</span>
                        </div>
                    </div>
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="last_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ member.last_name }}">
                            <span class="input-group-addon">نام خانوادگی</span>
                        </div>
                    </div>
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled style="direction: rtl; text-align: right;" type="tel"
                                   value="{{ member.phone }}">
                            <span class="input-group-addon">تلفن</span>
                        </div>
                    </div>
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">مشاهده</button>
                    </div>
                </form>
                {% endfor %}

            </div>

            {% if is_owner %}
            <!-- Add Member -->
            <div class="main-item">
                <form action="/add_member/{{ group_id }}/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" name="phone" required style="direction: rtl; text-align: right;"
                                   type="tel">
                            <span class="input-group-addon">تلفن</span>
                        </div>
                    </div>
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">افزودن</button>
                    </div>
                </form>
            </div>

            <!-- Delete Group -->
            <div class="main-item">
                <form action="/delete_group/{{ group_id }}/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">پاک کردن گروه</button>
                    </div>
                </form>
            </div>
            {% endif %}

            <!-- Back -->
            <div class="main-item">
                <form action="/list_of_groups/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">بازگشت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
