{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">

            <!-- Members -->
            <div class="main-item">
                <div class="title">
                    <h4>
                        اعضا
                    </h4>
                </div>
                {% for member in members %}
                <form class="form-row align-items-center" method="post" style="background: white; padding: 5px">
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="first_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ member.first_name }}">
                            <span class="input-group-addon">نام</span>
                        </div>
                    </div>

                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="last_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ member.last_name }}">
                            <span class="input-group-addon">نام خانوادگی</span>
                        </div>
                    </div>

                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="phone" style="direction: rtl; text-align: right;"
                                   type="tel" value="{{ member.phone }}">
                            <span class="input-group-addon">تلفن</span>
                        </div>
                    </div>

                    {% if member.id != user.id %}
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="debt" style="direction: rtl; text-align: right;"
                                   type="text" value="{{ member.debt }}">
                            <span class="input-group-addon">میزان بدهی این کاربر به شما</span>
                        </div>
                    </div>

                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-info my-btn" formaction="/visit_friend_profile/{{ member.phone }}/"
                                type="submit">مشاهده
                        </button>

                        {% if is_owner %}
                        <button class="btn btn-danger my-btn" formaction="/del_member/{{ group_id }}/" name="submit"
                                type="submit" value="{{ member.phone }}">حذف
                        </button>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="debt" style="direction: rtl; text-align: right;"
                                   type="text" value="{{ member.debt }}">
                            <span class="input-group-addon">میزان بدهی شما به دیگران</span>
                        </div>
                    </div>
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-info my-btn" formaction="/checkout_expense/{{ group_id }}/"
                                type="submit">پرداخت بدهی
                        </button>
                    </div>
                    {% endif %}
                </form>
                {% endfor %}
            </div>

            {% if is_owner %}
            <!-- Add Member -->
            <div class="main-item">
                <form action="/add_member/{{ group_id }}/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" name="phone" required style="direction: rtl; text-align: right;"
                                   type="tel">
                            <span class="input-group-addon">تلفن</span>
                        </div>
                    </div>
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">افزودن عضو جدید</button>
                    </div>
                </form>
            </div>

            <!-- Delete Group -->
            <div class="main-item">
                <form action="/delete_group/{{ group_id }}/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-danger my-btn" type="submit">پاک کردن گروه</button>
                    </div>
                </form>
            </div>
            {% endif %}


            <!-- expenses -->
            <div class="main-item">
                <div class="title">
                    <h4>
                        مخارج
                    </h4>
                </div>
                {% for expense in expenses %}
                <form action="/visit_friend_profile/{{ member.phone }}/" class="form-row align-items-center"
                      method="post" style="background: white; padding: 5px">
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="first_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ expense.spender.first_name }}">
                            <span class="input-group-addon">نام خرج‌کننده</span>
                        </div>
                    </div>
                    <div class="col-md-6 my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled name="last_name"
                                   style="direction: rtl; text-align: right;" type="text"
                                   value="{{ expense.spender.last_name }}">
                            <span class="input-group-addon">نام خانوادگی خرج‌کننده</span>
                        </div>
                    </div>
                    <div class="col-auto my_form_item">
                        <div class="input-group" style="direction: ltr">
                            <input class="form-control" disabled style="direction: rtl; text-align: right;" type="text"
                                   value="{{ expense.cost }}">
                            <span class="input-group-addon">مقدار</span>
                        </div>
                    </div>

                </form>
                {% endfor %}

            </div>


            <!-- Add Expense -->
            <div class="main-item">
                <form action="/add_expense/{{ group_id }}/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">افزودن خرج جدید</button>
                    </div>
                </form>
            </div>


            <!-- Back -->
            <div class="main-item">
                <form action="/list_of_groups/" class="form-row align-items-center" method="post"
                      style="background: white; padding: 5px">
                    <div class="col-auto my_form_item">
                        {% csrf_token %}
                        <button class="btn btn-success my-btn" type="submit">بازگشت</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
