<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Morteza Abolghasemi">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    {% block meta_tags %}

    {% endblock %}
    <title>
        کپچای بی‌بات |
        {% block title %}{% endblock %}
    </title>

    <link rel="apple-touch-icon" sizes="57x57"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16"
          href="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/favicon-16x16.png">
    <link rel="manifest"
          href="https://res.cloudinary.com/dclfeq8cv/raw/upload//bibot/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage"
          content="https://res.cloudinary.com/dclfeq8cv/image/upload//bibot/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="google-site-verification" content="btyk0pPzZyp3ZAcl-8UoFacYoCmk6EJ09inzZdx2y4I"/>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140802251-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-140802251-1');
    </script>
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KTFHK4D');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
<script>
    window.location.href = '{{ to }}'
</script>
</body>
</html>