{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="main-item">
                    <div class="title">
                        <h4>
                            مشخصات کاربری
                        </h4>
                    </div>
                    <form action="/profile/" method="post" class="form-row align-items-center" style="background: white; padding: 5px">
                        <div class="col-md-6 my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input name="first_name" type="text" class="form-control" disabled value="{{ request.user.first_name }}"
                                       style="direction: rtl; text-align: right;">
                                <span class="input-group-addon">نام</span>
                            </div>
                        </div>
                        <div class="col-md-6 my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input name="last_name" type="text" class="form-control" disabled value="{{ request.user.last_name }}"
                                       style="direction: rtl; text-align: right;">
                                <span class="input-group-addon">نام خانوادگی</span>
                            </div>
                        </div>
                        <div class="col-md-6 my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input type="tel" class="form-control" disabled value="{{ request.user.phone }}"
                                       style="direction: rtl; text-align: right;">
                                <span class="input-group-addon">تلفن</span>
                            </div>
                        </div>
                        <div class="col-md-6 my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input name="email" type="email" class="form-control" disabled value="{{ request.user.email }}"
                                       style="direction: rtl; text-align: right;">
                                <span class="input-group-addon">ایمیل</span>
                            </div>
                        </div>
                        <div class="col-md-6 my_form_item">
                            <div class="input-group" style="direction: ltr">
                                <input name="address" type="text" class="form-control" disabled value="{{ request.user.address }}"
                                       style="direction: rtl; text-align: right;">
                                <span class="input-group-addon">آدرس</span>
                            </div>
                        </div>
                        <div class="col-auto my_form_item">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success my-btn">بازگشت</button>
                        </div>
                    </form>
                </div>

                <div class="main-item">
                    <form action="/list_of_groups/" class="form-row align-items-center" method="post"
                          style="background: white; padding: 5px">
                        <div class="col-auto my_form_item">
                            {% csrf_token %}
                            <button class="btn btn-success my-btn" type="submit">مشاهده‌ی لیست گروه‌ها</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
