{% extends 'auth_base.html' %}
{% block auth_content %}
    <form class="login100-form validate-form" method="post" action="/update_password/">
        <span class="login100-form-title p-b-33">
            تغییر گذرواژه
        </span>
        <div class="wrap-input100 rs1 validate-input" data-validate="گذرواژه الزامیست">
            <input id="password" class="input100" required type="password" style="direction: rtl;" name="password"
                   placeholder="گذرواژه">
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input" data-validate="باید دقیقا برابر گذرواژه باشد">
            <input id="confirm_password" class="input100" required type="password" style="direction: rtl;"
                   name="confirm-password"
                   placeholder="تکرار گذرواژه">
            <span class="focus-input100-1"></span>
            <span class="focus-input100-2"></span>
        </div>
        <div class="container-login100-form-btn m-t-20">
            <button type="submit" class="my_btn" style="width: 100%; background: var(--green)">
                تایید
            </button>
            {% csrf_token %}
        </div>
    </form>
{% endblock %}
{% block auth_scripts %}
    <script>
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("گذرواژه‌ها یکی نیستند");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>
{% endblock %}